<div class="submissions-container">
  <button class="back-button" (click)="goBack()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <path d="M19 12H5M12 19l-7-7 7-7"/>
    </svg>
    Back
  </button>
  <div class="submissions-header">
    <div class="quiz-info">
      <h1>{{ quiz?.title }}</h1>
      <p class="quiz-meta">
        <span class="class-name">{{ quiz?.class }}</span>
        <span class="total-submissions">{{ submissions.length }} Submissions</span>
      </p>
    </div>
  </div>

  <div class="submissions-list" *ngIf="!loading">
    <div class="submission-card" *ngFor="let submission of submissions">
      <div class="student-info">
        <div class="avatar" *ngIf="submission.student.avatar; else generatedAvatar">
          <img [src]="submission.student.avatar" [alt]="submission.student.name">
        </div>
        <ng-template #generatedAvatar>
          <div class="avatar generated-avatar" 
               [style.background-color]="getAvatarColor(submission.student.name)">
            {{ getInitials(submission.student.name) }}
          </div>
        </ng-template>
        <div class="student-details">
          <h3>{{ submission.student.name }}</h3>
          <p>{{ submission.student.email }}</p>
        </div>
      </div>

      <div class="submission-details">
        <div class="score-circle" [style.backgroundColor]="getScoreColor(submission.score)">
          {{ (submission.score/totalScore)*100 }}%
        </div>
        <div class="submission-meta">
          <span class="submission-time">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"/>
            </svg>
            {{ submission.submitted_at | date:'medium' }}
          </span>
          <span class="completion-time" *ngIf="submission.completion_time">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13a1 1 0 102 0V9.414l1.293 1.293a1 1 0 001.414-1.414z"/>
            </svg>
            {{ submission.completion_time }} minutes
          </span>
        </div>
      </div>

      <!-- <button class="view-details" [routerLink]="['/quiz', quiz?.id, 'submission', submission.id]">
        View Details
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"/>
        </svg>
      </button> -->
    </div>
  </div>

  <div class="loading-spinner" *ngIf="loading">
    <div class="spinner"></div>
    <p>Loading submissions...</p>
  </div>
</div>
